html {
	font-size: 0.625em;
	background-color: #1393d5;
	margin-top: auto;
	margin-bottom: auto;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bolder;
	color: #fff;
	text-align: center;
}

#newtitle {
	font-size: 6vw;
}

@media all and (min-width: 1000px) {
    #newtitle {
        font-size: 6rem;
    }
}

.button {
	margin-top: 20%;
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	color: #1393d5;
	font-size: 20px;
	background: #fff;
	padding: 10px 20px 10px 20px;
	border: solid #1393d5 1px;
	text-decoration: none;
	transition: background-color .2s, color .2s, border-color .2s;
}

.button:hover {
	color: #fff;
	background: #1393d5;
	border: solid #fff 1px;
	cursor: pointer;
}

.button:active {
	border: solid #1393d5 1px;
}
